
@{
    ViewBag.Title = "Index";
}

<h2>Components manager</h2>

<div class="card-group">
    <div class="card">
        <img src="~/Images/Engine.png" class="card-img-top" alt="Engine" height="42" width="42">
        <div class="card-body">
            <h5 class="card-title">Engine</h5>
            <p class="card-text">Create, modify, delete engines</p>
            <a href="@Url.Action("Index", "Engine")" class="btn btn-primary">Manage engines</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Brakes</h5>
            <p class="card-text">Create, modify, delete brakes</p>
            <a href="@Url.Action("Index", "Brake")" class="btn btn-primary">Button</a>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

</div>